.prev {
  margin: 0 auto;
  padding: 10px;
  width: 1350px;
  font-size: 12px;
}

.prev table {
  border-collapse: collapse;
  table-layout: fixed;
  display: inline-block;
  vertical-align: top;
}

.prev th,
.prev td {
  border: 1px solid #aaa;
  padding: 3px 5px;
  word-break: break-all;
}

.prev tbody th {
  background-color: #ddd;
}

.prev thead th {
  background-color: rgba(75, 82, 174, 1);
  color: #fff;
}

.prev td {
  height: 25px;
}

.prev td.sign {
  width: 24px;
  text-align: center;
}

.prev .loading {
  font-weight: bold;
  font-size: 18px;
  /* 중앙정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.prev .step_area+.step_area {
  margin-top: 10px;
}

.prev .step_title {
  font-weight: bold;
  padding: 3px 5px;
  position: relative;
}

.prev .step_subtitle {
  position: absolute;
  top: 0;
  right: 5px;
}

.prev .step_area table+table {
  margin-left: 8px;
}

/* 아래 버튼 */
.prev .button_area {
  text-align: center;
}

.prev .button_area>button {
  height: 30px;
  font-weight: bold;
  border: none;
  display: inline-block;
  color: #fff;
}

.prev .print {
  width: 100px;
  background-color: green;
}

.prev .print:hover {
  background-color: darkgreen;
}

.prev .close {
  width: 80px;
  background-color: darkgray;
  margin-left: 10px;
}

.prev .close:hover {
  background-color: gray;
}

@media print {
  .prev .button_area {
    display: none;
  }
}
