.prev {
  margin: 0 auto;
  padding: 10px;
  width: 1350px;
  font-size: 12px;
}

.prev table {
  border-collapse: collapse;
  table-layout: fixed;
  display: inline-block;
  vertical-align: top;
}

.prev th,
.prev td {
  border: 1px solid #aaa;
  padding: 3px 5px;
  word-break: break-all;
}

.prev tbody th {
  background-color: #ddd;
}

.prev thead th {
  background-color: rgba(75, 82, 174, 1);
  color: #fff;
}

.prev td {
  height: 25px;
}

.prev td.sign {
  width: 24px;
  text-align: center;
}

.prev .loading {
  font-weight: bold;
  font-size: 18px;
  margin: 200px 0;
  text-align: center;
}

.prev .step_area+.step_area {
  margin-top: 10px;
}

.prev .step_title {
  font-weight: bold;
  padding: 0 5px;
  font-size: 11px;
}

.prev .step_area table+table {
  margin-left: 8px;
}
