/* Common */
.root {
  width: 100%;
  min-width: 1000px;
}

.paper {
  margin: auto;
  padding: 84px 20px 20px 20px;
  max-width: 1200px;
}

.paper_title {
  padding: 20px;
  font-weight: bold;
  font-size: 1.1rem;
}

.progress {
  margin: 16px;
  background-color: transparent !important;
}

.emptyRow {
  color: #aaa !important;
  padding: 30px !important;
}

/* AppBar */
.menuButton {
  margin-left: -12px;
  margin-right: 20px;
}

.title {
  display: 'none';
}

.grow {
  flex-grow: 1;
}

.search {
  width: 50%;
  position: relative;
  margin-left: 0;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
}

.search:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.searchIcon {
  width: 72px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  pointer-events: none;
  justify-content: center;
}

.inputRoot {
  color: #fff !important;
  width: 100%;
}

input[name="searchKeyword"] {
  width: 100%;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding-top: 0;
  padding-left: 80px;
  padding-right: 0;
  padding-bottom: 0;
}

@media (min-width: 1000px) {
  .title {
    display: block;
  }

  .search {
    width: auto;
    margin-left: 0;
  }

  input[name="searchKeyword"] {
    width: 300px;
  }

  input[name="searchKeyword"]:focus {
    width: 350px;
  }
}

/* TGPDetail */
form {
  width: 100%;
}

.card {
  margin-bottom: 20px;
}

.addRowBtn,
.deleteRowBtn {
  font-weight: bold !important;
  float: right;
}

.deleteRowBtn {
  color: red !important;
}

/* */
.col_form1_1 col:nth-child(1),
.col_form1_1 col:nth-child(3) {
  width: 10%;
}

.col_form1_1 col:nth-child(2),
.col_form1_1 col:nth-child(4) {
  width: 40%;
}

/* */
.col_form2_1 col:nth-child(1) {
  min-width: 150px;
  width: 15%;
}

.col_form2_1 col:nth-child(2) {
  width: 80%;
}

.col_form2_1 col:nth-child(3) {
  width: 5%;
}

/* */
.col_form2_2 col:nth-child(1) {
  min-width: 80px;
}

.col_form2_2 col:nth-child(1),
.col_form2_2 col:nth-child(3),
.col_form2_2 col:nth-child(4),
.col_form2_2 col:nth-child(5),
.col_form2_2 col:nth-child(7),
.col_form2_2 col:nth-child(9) {
  width: 5%;
}

.col_form2_2 col:nth-child(2),
.col_form2_2 col:nth-child(6),
.col_form2_2 col:nth-child(8) {
  width: 22%;
}

.col_form2_2 col:nth-child(10) {
  width: 3%;
}

/* */
.col_form2_3 col:nth-child(1) {
  min-width: 80px;
}

.col_form2_3 col:nth-child(2) {
  width: 22%;
}

.col_form2_3 col:nth-child(1),
.col_form2_3 col:nth-child(3),
.col_form2_3 col:nth-child(4),
.col_form2_3 col:nth-child(5),
.col_form2_3 col:nth-child(6),
.col_form2_3 col:nth-child(7),
.col_form2_3 col:nth-child(8),
.col_form2_3 col:nth-child(9),
.col_form2_3 col:nth-child(10) {
  width: 5%;
}

.col_form2_3 col:nth-child(11) {
  width: 33%;
}

/* */
.col_form2_4 col:nth-child(1) {
  min-width: 150px;
  width: 15%;
}

.col_form2_4 col:nth-child(2),
.col_form2_4 col:nth-child(4) {
  width: 36%;
}

.col_form2_4 col:nth-child(3),
.col_form2_4 col:nth-child(5) {
  width: 5%;
}

.col_form2_4 col:nth-child(6) {
  width: 3%;
}

/* */
.col_form3_1 col:nth-child(1),
.col_form3_1 col:nth-child(2) {
  width: 48%;
}

.col_form3_1 col:nth-child(3) {
  width: 3%;
}

/* */
.col_form3_2 col:nth-child(1),
.col_form3_2 col:nth-child(2),
.col_form3_2 col:nth-child(3),
.col_form3_2 col:nth-child(4) {
  width: 24%;
}

.col_form3_2 col:nth-child(5) {
  width: 3%;
}
