/* Common */
.root {
  width: 100%;
  min-width: 600px;
}

.paper {
  margin: auto;
  padding: 20px;
  max-width: 1000px;
}

.progress {
  margin: 16px;
}

/* AppBar */
.menuButton {
  margin-left: -12px;
  margin-right: 20px;
}

.title {
  display: 'none';
}

.grow {
  flex-grow: 1;
}

.search {
  width: 100%;
  position: relative;
  margin-left: 0;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
}

.search:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.searchIcon {
  width: 72px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  pointer-events: none;
  justify-content: center;
}

.inputRoot {
  color: #fff !important;
  width: 100%;
}

input[name="searchKeyword"] {
  width: 100%;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding-top: 0;
  padding-left: 80px;
  padding-right: 0;
  padding-bottom: 0;
}

@media (min-width: 600px) {
  .title {
    display: block;
  }

  .search {
    width: auto;
    margin-left: 0;
  }

  input[name="searchKeyword"] {
    width: 120px;
  }

  input[name="searchKeyword"]:focus {
    width: 200px;
  }
}

/* TGPDetail */
form {
  width: 100%;
}

.card {
  margin-bottom: 20px;
}

.plusBtn {
  font-weight: bold !important;
}
